// Base
// -------------------
// Used for global styles
// Or to override certain Atom core styles
// -------------------
body {
	font-size: @font-size;
	font-weight: 300;
	color: @text-color;
	background-color: @app-background-color;
}

atom-pane {
	border-right: 1px solid @base-border-color;

	&:last-child {
		border-right: none;
	}
}

.title-bar {
	border: none;
	color: lighten(@text-color-subtle, 10%);
	background: none;
	opacity: 1;
	.transition(opacity;);
	atom-workspace[theme-nebula-ui-focusmode=enabled] & {
		opacity: 0.5;
	}
}