// Buttons
// -------------------
// Overrides: atom/atom/static/buttons.less

.btn {
	padding-top: 1px;
	color: lighten(@text-color, 6%);
	background-color: @button-background-color;
	border: 1px solid @button-border-color;
	border-radius: @component-border-radius;
	.transition(color, border, box-shadow, background-color, opacity;);

	&:not(.disabled) {
		&:hover {
			color: @text-color-highlight;
			background-color: @button-background-color-hover;
			border-color: lighten(@button-border-color, 5%);
		}

		&:active {
			box-shadow: inset 0 -60px 20px -20px @blue;
			border-color: @blue;
		}
	}

	&.selected {
		color: @text-color-selected;
		box-shadow: inset 0 -22px 0 -20px @blue;
	}

	&:focus,
	&:focus:active {
		outline: none;
	}
	&.icon {
		&::before {
			top: 2px;
		}
	}
}
// Colored buttons -----------------------

.btn.btn-primary {
	.btn-color(@background-color-info);
}

.btn.btn-info {
	.btn-color(@background-color-info);
}

.btn.btn-success {
	.btn-color(@background-color-success);
}

.btn.btn-warning {
	.btn-color(@background-color-warning);
}

.btn.btn-error {
	.btn-color(@background-color-error);
}

.btn-color(@bg) {
	color: @text-color-selected;
	background-color: @bg;

	&:focus,
	&:hover {
		background-color: lighten(@bg, 4%);
	}

	&:active {
		background-color: darken(@bg, 4%);
	}

	&.selected {
		background-color: lighten(@bg, 4%);
	}

	&.selected:hover {
		background-color: lighten(@bg, 8%);
	}
}
// Button Group -----------------------

.btn-group > .btn {
	// border-color: hsla(0,0%,0%,.2);
	// border-width: 1px !important;
	border: 0;

	&:hover {}

	&:first-child {
		&:hover {}
	}
}