// Nebula Custom Styles
// -------------------
// The little things make the best things.

ul.background-message {
	li.message {
		font-size: 20px;
		font-weight: 100;
		opacity: 0.4;

		.fade-in {
			opacity: 1;
		}
	}
}


.input-label,
.settings-view .input-label {
	cursor: pointer;
}

.settings-view input[type="radio"],
input[type="radio"] {
	background-color: @background-color-highlight;
	cursor: pointer;

	&:checked,
	&:hover {
		background-color: lighten(@background-color-highlight, 5%);
	}

	&:checked {
		background-color: @blue;
	}

	&:active {
		background-color: lighten(@background-color-highlight, 15%);
	}
}

.settings-view input[type="checkbox"],
input[type="checkbox"] {
	background-color: @background-color-highlight;
	cursor: pointer;

	&:checked,
	&:hover {
		background-color: lighten(@background-color-highlight, 5%);
	}

	&:active,
	&:checked:active {
		background-color: lighten(@background-color-highlight, 15%);
	}

	&:after,
	&:before {
		background-color: @blue;
	}
}

.select-container,
.settings-view .select-container {
	position: relative;

	&:after {
		content: "\f0a3";
		font-family: 'Octicons Regular';
		font-weight: normal;
		font-style: normal;
		display: block;
		position: absolute;
		right: 8px;
		top: 50%;
		margin-top: -8px;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		text-decoration: none;
		font-size: 16px;
		width: 16px;
		height: 16px;
	}

	select {
		-webkit-appearance: none;
	}
}

.settings-view select,
select {
	padding: 7px 10px;
	cursor: pointer;
	background-color: @button-background-color;
	border: 1px solid @button-border-color;
	border-radius: @component-border-radius;
	transition-property: color, border, box-shadow, background-color, opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease;

	&:focus,
	&:hover {
		color: @text-color-highlight;
		background-color: @button-background-color-hover;
		border-color: @blue;
	}
}