// Plugins
// -------------------
// Custom styles for popular plugins

atom-text-editor-minimap {
	opacity: 0.4;
	-webkit-filter: grayscale(50%);
	.transition(opacity, -webkit-filter;);
	&:hover {
		opacity: 1;
		-webkit-filter: grayscale(0%);
	}
}