// Nebula UI / Tabs
// ----------------
// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
	background: none;
	border-radius: 0;
	background-color: @tab-bar-background-color;
	border: 1px solid transparent;
	border-width: 1px 0;
	padding: 5px 10px;
	overflow-x: auto;
	.transition(border-color);

	&:hover {
		border-color: @base-border-color;
	}

	.tab {
		color: @text-color-subtle;
		cursor: pointer;
		height: @tab-height;
		line-height: @tab-height;
		font-size: @font-size;
		letter-spacing: 0.2px;
		max-width: none;
		min-width: 50px;
		padding-right: 20px;
		border-radius: @component-border-radius;
		background-color: transparent;
		.transition(background-color);

		&:last-of-type {
			border-right: 0;
		}

		.title {
			text-align: center;
			text-overflow: initial;
			position: relative;
			.transition(color, -webkit-filter, opacity;);

			atom-workspace[theme-nebula-ui-focusmode=enabled] & {
				&.status-modified,
				&.status-added {
					-webkit-filter: grayscale(50%);
					opacity: 0.5;
				}
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				width: 20px;
				transform: translate3d(0,0,0);
				box-shadow: inset -20px 0 10px -10px @tab-bar-background-color;
				.transition(box-shadow);
			}
		}

		// The tab is active
		&.active {
			flex: 1;
			color: @text-color-selected;
			background: none;

			.title {
				opacity: 1;
				padding-right: 0;
				&.status-modified,
				&.status-added {
					opacity: 1;
					color: @text-color-selected;
				}
				atom-workspace[theme-nebula-ui-focusmode=enabled] & {
					&.status-modified,
					&.status-added {
						opacity: 1;
					}
				}
			}
		}

		// Hover over a tab
		&:hover {
			background-color: @background-color-highlight;

			.close-icon {
				color: inherit;
			}
			.title {
				&.status-modified {
					+ .close-icon {
						color: @text-color-warning;
					}
				}
				&.status-added {
					+ .close-icon {
						color: @text-color-success;
					}
				}
				atom-workspace[theme-nebula-ui-focusmode=enabled] & {
					&.status-modified,
					&.status-added {
						opacity: 1;
						-webkit-filter: grayscale(0%);
					}
				}
				&:after {
					box-shadow: inset -20px 0 10px -10px @background-color-highlight;
				}
			}
		}

		// Modified Icon (the blue circle)
		&.modified {

			.close-icon {
				color: @blue;
				text-shadow: 0 0 15px @blue;
			}

			// We *could* use this to style the close-icon for Git modified tabs...
			// ...but we *choose* not to at this point in time.
			//
			// .title.status-modified {
			// 	+ .close-icon {
			//
			// 	}
			// }

			&:not(:hover) .close-icon {
				top: 50%;
				width: 7px;
				height: 7px;
				right: 13px;
				margin-top: -3px;
				border: 1px solid @blue;
				box-shadow: 0 0 10px fade(@blue, 50%), inset 0 0 1px @blue;
			}

			&:hover {
				.close-icon {
					color: @blue;
				}
			}
		}

		// Close Icon (the X)
		.close-icon {
			color: transparent;
			width: 20px;
			right: 0;
			transition: color 0.2s ease, text-shadow 0.2s ease;
			cursor: pointer;

			&:hover {
				color: @red !important;
				text-shadow: 0 0 15px @red;
			}
		}

		// Dragging
		// Styles get applied while dragging a tab
		&.is-dragging {
			//   background: darken(@tab-background-color, 10%);
			border-color: transparent;
			opacity: 0.5;

			& .close-icon {
				visibility: hidden;
			}
		}
	}
}

// Used to adjust the top-border for tab bars within split-view panes
.panes,
.pane-column {
	.pane:first-of-type {
		.tab-bar {
			padding-top: 0;
			border-top: 0;
		}
	}
}