// Tree View
// -------------------
// Used to explore and open files in the current project.
// Overrides: atom/tree-view

.tree-view-resizer {
	opacity: 0.5;
	background: transparent;
	border-right: 1px solid transparent;
	.transition(opacity, border-color;);

	&:hover {
		opacity: 1;
		border-right-color: @background-color-highlight;
	}
}

.tree-view {

	-webkit-filter: grayscale(50%);
	.transition(-webkit-filter;);

	&:hover {
		-webkit-filter: grayscale(0%);
	}
}

.tree-view {

	background: none;

	.entry {
		cursor: pointer;

		&:before {
			display: none;
		}
	}

	.list-item {
		border-radius: @component-border-radius;
		&:hover {
			background-color: @background-color-highlight;
		}
	}
	// If a folder is selected, this happens to all children
	// .list-tree {
	// 	.selected {
	// 		// color: @text-color-selected;
	// 	}
	// }
}

.tree-view-scroller {
	padding: 3px 0 50px;
}